<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>HR Private Limited</title>
    <link rel="stylesheet" href="static/css/layout.css" />
    <link rel="icon" href="static/img/icon.png" type="image/x-icon" />
  </head>

  <body>
    <div class="container">
      <div class="banner">HR Private Limited.</div>
      <div class="menu">
        <div class="menuitemselected"><a>Home</a></div>
        <div class="menuitem"><a href="products.html">Products</a></div>
        <div class="menuitem"><a href="people.html">People</a></div>
        <div class="menuitem"><a href="contactus.html">Contact Us</a></div>
      </div>
     <div>>
         <img src="static/img/elon.jpeg">
         <h1>ELON MUSK<h2>
     </div>
    <div>
        <img src="static/sundar.jpeg">
        <h1>SUNDAR PICHAI</h1>
    </div>
    <div>
        <img src="Tony_Stark.jpg">
        <h1>TONY STARKs</h1>
    </div>
    <div class="footer">
        Copyright &#169; 2021 HR Private Limited, Developed by HARISH RAGAVENDRA S.
      </div>
    </div>
  </body>
</html>
